/* NAVABAR HEADER */
.header-navbar {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* La liste de tous les boutons */
.header-navbar>ul {
  padding: 0;
  margin: 0;
}

/* Bouton du navbar */
.header-navbar>ul>li {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

